form{
    @apply flex flex-col justify-center items-center mt-40
}
.input-login{
    @apply border-none py-2 bg-stone-100 pl-10 pr-7 mr-4 rounded-md mt-3
}
.login-button{
    @apply flex p-2 bg-green-400 rounded-md px-6 mt-4
}
.login-button-disabled{
    @apply flex p-2 bg-red-400 rounded-md px-6 mt-4
}
.empty-entries{
    @apply text-red-700 font-bold text-lg mt-8
}
.input-icon{
    position: absolute;
    left: 10px;
    top: calc(50%); /* Keep icon in center of input, regardless of the input height */
}
.input-wrapper{
    position: relative;
}
.register_error_text{
    @apply text-red-500 text-sm mt-4;
}